apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    secureJsonData:
      token: $INFLUXDB_API_TOKEN
    jsonData:
      version: Flux
      organization: HG
      defaultBucket: k6
      tlsSkipVerify: true
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
